@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}

.clock{
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 12rem;
}

@media(max-width: 440px) {
    .clock {
        font-size: 6rem;
    }

    .clock svg{
        height: 65px;
        width: 65px;
    }
}